@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    opacity:.7;
    padding: 0px 0 70px 0;
}

.header > * {
 z-index:100
}

.header {
  background: url('../../images/headerImg.jpg') no-repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; 
   background-size: cover;
   position: relative;
   padding: 0px 0 70px 0;
}

.header h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    margin-top: 150px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
    .header h1 {
        font-size: 20px;
        line-height: 35px;
        margin: auto;
    }
}

.header .gray-border {
    max-width: 1000px;
    background: #FFFFFF;
    opacity: 0.4;
    box-shadow: 0px 0px 47px #0000001a;
    border-radius: 24px;
    padding: 20px;
}

.home1 {
    background: #F6F9F6;
    padding: 50px 0 70px 0;
    position: relative;
}

.home1 h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #004B75;
}

@media only screen and (max-width: 1024px) {
    .home1 h3 {
        font-size: 16px;
        line-height: 20px;
    }
}

.img-box {
    background: #FFFFFF;
    border: 0.4px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
    .img-box {
        margin: auto;
    }
}

.img-box .home1-img {
    border-radius: 8px
}

.img-box .txt-box {
    padding: 3px 7px 3px 7px;
    max-width: 282px;
}

.txt-box h6 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #004B75;
    display: inline-block;
    position: relative;
    width: 117px;
}

@media only screen and (max-width: 1024px) {
    .txt-box h6 {
        font-size: 10px;
        line-height: 14px;
    }
}

.txt-box .p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #5e6a71;
    display: inline-block;
    width: 120px;
    margin-left: 2px; 
    word-spacing: 5px;
    text-decoration: none !important;
}

@media only screen and (max-width: 1024px) {
    .txt-box p {
        font-size: 10px;
        line-height: 14px;
        margin: auto
    }
}

.round p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #707070;
    margin-top: 150px;
    text-align: center;
}

.round .circle {
    border-radius: 50%;
    background: #F78500;
    position: absolute;
    bottom: 0;
    max-width: 52px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.home2 {
    background: #ffffff;
    padding: 50px 0 50px 0;
}

.home2 h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #707070;
}

@media only screen and (max-width: 1024px) {
    .home2 h3 {
        font-size: 20px;
        line-height: 22px;
    }
}

.home2 .home2-img {
    margin-top: 15px;
    padding: 45px 48px 45px 46px;
}

.img-box p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 21px;
    color: #707070; 
}

@media only screen and (max-width: 1024px) {
    .img-box p {
        font-size: 12px;
        line-height: 16px;
    }
}

.home2 .btn {
    max-width: 339px;
    padding: 15px 50px;
    background: #F78500;
    border-radius: 71px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 60px;
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .home2 .btn {
       font-size: 12px; 
       line-height: 18px;
       padding: 10px 15px !important;
       margin-top: 20px;
    }
}

.home3 {
    background: #F6F9F6;
    padding: 70px 0 70px 0;
}

.home3 .home3-img2 {
    margin-top: 90px;
    max-width: 100%;
}

.home4 {
    background: #E5ECF1;
    padding: 70px 0 70px 0;   
}

.home4 .left-col {
    padding-left: 100px;
}

.home4 h1 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
}

@media only screen and (max-width: 1024px) {
    .home4 h1 {
        font-size: 20px;
        line-height: 35px;
    }
}

.home4 p {
    max-width: 303px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

@media only screen and (max-width: 1024px) {
    .home4 p {
        font-size: 12px;
        line-height: 16px;
    }
}

.home4 .icons {
    margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
    .home4 .icons {
       margin-top: 10px; 
    }
}

.home4 label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333333; 
}

@media only screen and (max-width: 1024px) {
    .home4 label {
       font-size: 12px; 
    }
}

.home4 input[type="text"],
input[type="email"] {
    padding: .6em .5em;
    background: #FFFFFF;
    border: 1px solid #536B79;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .home4 input[type="text"],
    input[type="email"] {
        padding: .4em .3em;
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        line-height: 150%;
        color: #999999;
      }
}

.home4 textarea {
    padding: .2em .5em;
    background: #FFFFFF;
    border: 1px solid #7C808D;
    box-sizing: border-box;
    border-radius: 4px; 
    width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .home4 textarea {
        padding: .2em .2em;
    }
}