@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000004d;
    opacity:.7;
    padding: 0px 0 70px 0;
}

.header > * {
 z-index:100
}

.header {
  background: url('../../images/headerImg.jpg') no-repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover; 
   background-size: cover;
   position: relative;
   padding: 0px 0 70px 0;
}

.header h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    margin-top: 150px;
}