/* NAVIGATION BAR STYLING */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.navbar {
    padding: 0px;
}

.nav-bg {
    background: transparent !important;
}

.navbar-nav .nav-item {
    padding-right:20px;
}

.home-logo {
    width: 90px;
}

@media only screen and (max-width: 1024px) {
    .home-logo {
        width: 60px;
    }
}