@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.footer-section {
    background: linear-gradient(180deg, #333333 0%, #0D0D0D 100%);
    padding: 40px 0 120px 0;
    position: relative;
}

.footer-section .unorder-list {
    list-style-type: none;
}