@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.footer-section {
    background: linear-gradient(180deg, #333333 0%, #0D0D0D 100%);
    padding: 40px 0 120px 0;
    position: relative;
}

.footer-section .unorder-list {
    list-style-type: none;
}

.footer-section .list-head {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none !important;
}

@media only screen and (max-width:1024px) {
    .footer-section .list-head {
        font-size: 15px;
        line-height: 20px;
    }
}