@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@700&family=Roboto&display=swap');

.footer-section {
    background: linear-gradient(180deg, #333333 0%, #0D0D0D 100%);
    padding: 40px 0 120px 0;
    position: relative;
}

.footer-section .unorder-list {
    list-style-type: none;
}

.footer-section .list-head {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none !important;
}

@media only screen and (max-width:1024px) {
    .footer-section .list-head {
        font-size: 15px;
        line-height: 20px;
    }
}

.footer-section p {
    max-width: 287px;
    font-family: "Montserrat";
    font-style: normal;
    /* font-weight: 450; */
    font-size: 14px;
    line-height: 23px;
    color: #9D9D9D;
}

hr {
    border: 1px solid #696B8C;
}

.footer-section .mobileShow {
    display: none;
    /* padding: 10px; */
  }
  
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer-section .mobileShow {
      display: inline;
    }
  }
  
.footer-section .mobileHide {
    display: inline;
  }
  
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer-section .mobileHide {
      display: none;
    }
  }